.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
  width: max-content;
  max-width: calc(100vw - 16px);
  position: absolute;
  right: 16px;
}

.flash-warning {
  border: 2px solid $notice;
}

.flash-danger {
  border: 2px solid $danger;
}
