body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-cover {
  background-size: cover;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
